<span class="border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-3 text-left">
                Початок вспінення
            </div>
            <div class="col-3 text-left">
                Кінець вспінення
            </div>
            <div class="col-1 text-center">
                Цикл
            </div>
            <div class="col-2 text-left">
                Виробник
            </div>
            <div class="col-2 text-left">
                Марка
            </div>
            <div class="col-1 text-right">
                Вага, кг
            </div>
        </div>
    </div>
</span>
