{% extends "main/layout.html" %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto bg-light my-4 p-4 rounded">
            <form class="needs-validation" method="POST" action="{% url 'auth_app:add_user_page' %}">
                {% csrf_token %}
                <h2 class="text">Реєстрація нового користувача</h2>
                <hr>
                <div class="mb-3">
                    <label for="validationFirstName" class="form-label" for="first_name">Ім'я користувача:</label>
                    <input class="form-control" id="validationFirstName" type="text" placeholder="Ім'я користувача" name="first_name">
                </div>
                <div class="mb-3">
                    <label for="validationLastName" class="form-label" for="last_name">Прізвище користувача:</label>
                    <input class="form-control" id="validationLastName" type="text" placeholder="Прізвище користувача" name="last_name">
                </div>
                <div class="mb-3">
                    <label for="validationEMail" class="form-label" for="email">Поштова адреса користувача:</label>
                    <input class="form-control" id="validationEMail" type="email" placeholder="Поштова адреса користувача" name="email">
                </div>
                <div class="mb-3">
                    <label for="validationUserName" class="form-label" for="username">Логін:</label>
                    <input class="form-control" id="validationUserName" type="text" placeholder="Логін користувача" name="username">
                </div>
                <div class="mb-3">
                    <label for="validationPassword" class="form-label" for="password">Пароль:</label>
                    <input class="form-control" id="validationPassword" type="password" placeholder="Введіть пароль" name="password">
                </div>
                <div class="mb-3">
                    <label for="validationRePassword" class="form-label" for="re_password">Підтвердіть пароль:</label>
                    <input class="form-control" id="validationPassword" type="password" placeholder="Підтвердіть пароль" name="re_password">
                </div>
                {% if message %}
                    <div class="alert {{ color }}">{{ message }}</div>
                {% endif %}
                <div class="d-grid gap-2 col-5 mx-auto">
                    <input class="btn btn-primary w-100" type="submit" value="Реєстрація">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}