{% extends "main/layout.html" %}
{% load crispy_forms_filters %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto bg-light my-4 p-4 rounded">
            <form class="needs-validation" method="POST" action="{% url 'auth_app:change_password_page' %}">
                {% csrf_token %}
                <h2>Зміна пароля</h2>
                <hr>                
                {{ form|crispy }}
                {% if message %}
                    <div class="alert {{ color }}">{{ message }}</div>
                {% endif %}
                <div class="d-grid gap-2 col-5 mx-auto">
                    <input class="btn btn-primary w-100" type="submit" value="Змінити пароль">
                </div>
            </form>
        </div>
    </div>
{% endblock %}