<span class="border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-3 text-left">
                {{ row.dataczasprodukcji }}
            </div>
            <div class="col-4 text-left">
                {{ row.kodkreskowy }}
            </div>
            <div class="col-2 text-left">
                {{ row.typbloku }}
            </div>
            <div class="col-2 text-right">
                {{ row.masa }}
            </div>
            <div class="col-1 text-left">
                {{ row.operator }}
            </div>
        </div>
    </div>
</span>
