{% extends "main/layout.html" %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      {% include "forming_kr/menu_button_first.html" %}
      <div class="collapse navbar-collapse" id="navbarScroll">
          
          {% include "forming_kr/menu.html" %}
          
        <form class="d-flex" method="post" action="{% url 'forming_kr:forming_full_kr' %}">
            {% csrf_token %}
            {% include "forming_kr/menu_button_date.html" %}
        </form>
      </div>
    </div>
</nav>
    
<h4><span class="badge bg-secondary">Формовка 1</span></h2>
{% include "forming_kr/full_header.html" %}
{% for row in rows_f3 %}
    {% include "forming_kr/full_data.html" %}
{% endfor %}

{% endblock %}
